.about {
	min-height: 100vh;
	padding-top: 10rem;
	background: var(--white);

	.container {
		display: flex;
		flex-direction: column;
		max-width: 120rem;
		margin: 0 auto;
		width: 100%;
		padding: 0 5rem;

		.content {
			@include flexCenter;
			flex-direction: column;
			gap: 3rem;

			&__about {
				h2 span {
					font-weight: 600;
				}

				p {
					margin-bottom: 2rem;
				}

				a {
					color: var(--color-primary);
					font-weight: 500;
				}
			}

			&__skills {
				h2 {
					font-weight: 600;
				}

				.box {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					margin: 2rem 0 4rem;

					&__item {
						text-align: center;
						padding: 1.5rem;
						width: 10rem;

						i {
							color: var(--neutral-400);
							font-size: 6rem;
							transition: all 0.3s;
							display: block;
						}

						h6 {
							color: var(--neutral-600);
							padding: 8px 0;
							font-size: 1.2rem;
						}

						&:hover {
							i {
								color: var(--color-primary);
								transform: translateY(-4px);
							}

							h6 {
								color: var(--neutral-900);
							}
						}
					}
				}
			}
		}
	}
}
