@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color-primary: #0099e5;

	--neutral-900: #282c33;
	--neutral-800: #363a44;
	--neutral-700: #434855;
	--neutral-600: #5a6172;
	--neutral-500: #70798e;
	--neutral-400: #8d94a4;
	--neutral-300: #a9aebb;
	--neutral-200: #cbcfd6;
	--neutral-100: #e8eaed;
	--neutral-050: #f4f4f6;

	--black-n-white-1: #1b1f23;
	--black-n-white-2: #fff;

	--body-bg-color: #f5f5f5;
	--navbar-bg-color: #fafafa;
	--header-text-color: #fff;
	--body-text-color: var(--neutral-500);
	--line-color: var(--neutral-200);

	--btn-active-bg-color: #0062cc;
	--btn-active-border-color: #005cbf;
	--btn-focus-box-shadow: 0 0 0 0.3rem rgba(0, 123, 255, 0.5);
}

.dark-theme {
	--color-primary: #50b5e7;

	--neutral-050: #282c33;
	--neutral-100: #363a44;
	--neutral-200: #434855;
	--neutral-300: #5a6172;
	--neutral-400: #70798e;
	--neutral-500: #8d94a4;
	--neutral-600: #a9aebb;
	--neutral-700: #cbcfd6;
	--neutral-800: #e8eaed;
	--neutral-900: #f4f4f6;

	--body-bg-color: #121212;
	--navbar-bg-color: #272727;
	--header-text-color: #fff;
	--body-text-color: var(--neutral-500);
	--black-n-white-1: #fff;
	--black-n-white-2: #1b1f23;

	/* Dark theme */

	.mailtoui-modal {
		background-color: rgba(250, 250, 250, 0.5);
		color: #fff;
	}

	.mailtoui-modal-head {
		background-color: #21262c;
	}

	.mailtoui-modal-title {
		color: #fff;
	}

	.mailtoui-modal-close:focus,
	.mailtoui-modal-close:hover {
		color: #fff;
	}

	.mailtoui-modal-body {
		background-color: #373b41;
	}

	.mailtoui-button:focus .mailtoui-button-content {
		background-color: #d8dcdf;
		color: #333;
	}

	.mailtoui-button-content,
	.mailtoui-button-copy {
		background-color: #63676b;
		color: #fff;
	}

	.mailtoui-button-content:hover,
	.mailtoui-button-content:focus,
	.mailtoui-button-copy:hover,
	.mailtoui-button-copy:focus {
		background-color: #d8dcdf;
		color: #333;
	}

	.mailtoui-button-copy-clicked,
	.mailtoui-button-copy-clicked:hover,
	.mailtoui-button-copy-clicked:focus {
		background-color: #1f9d55;
		color: #fff;
	}

	.mailtoui-email-address {
		background-color: #909295;
		color: #21262c;
	}

	/* End dark theme */
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	background: var(--body-bg-color);
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--neutral-900);
}

h2 {
	font-weight: 400;
	line-height: 2;
}

p {
	line-height: 2;
	color: var(--neutral-500);
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.btn-primary {
	@include btnDefault;
	color: var(--black-n-white-1);
	background: var(--black-n-white-2);
	border: 2px solid var(--color-primary);

	i {
		margin-right: 8px;
	}

	&:hover {
		background: var(--color-primary);
		color: var(--black-n-white-2);
	}

	&:focus {
		background: var(--color-primary);
		color: var(--black-n-white-2);
		box-shadow: var(--btn-focus-box-shadow);
	}

	&:active {
		background: var(--btn-active-bg-color);
		border: 2px solid var(--btn-active-border-color);
		box-shadow: var(--btn-focus-box-shadow);
	}
}

.btn-secondary {
	@include btnDefault;
	color: var(--black-n-white-1);
	background: var(--black-n-white-2);
	border: 2px solid #d5d5d5;

	i {
		margin-right: 8px;
	}

	&:hover {
		background: #d5d5d5;
		color: var(--black-n-white-1);
	}

	&:focus {
		background: #d5d5d5;
		color: var(--black-n-white-2);
		box-shadow: 0 0 0 0.3rem rgba(130, 138, 145, 0.5);
	}

	&:active {
		background: #545b62;
		border: 2px solid #4e555b;
		box-shadow: 0 0 0 0.3rem rgba(130, 138, 145, 0.5);
	}
}

.section-title {
	width: 100%;
	text-align: center;
	position: relative;
	margin-bottom: 5rem;

	h1 {
		font-size: 4rem;
		font-weight: 700;
		letter-spacing: 3px;
		text-transform: uppercase;
	}

	h2 {
		text-transform: lowercase;
	}

	span {
		color: var(--neutral-300);
	}
}
