@media only screen and (max-width: 992px) {
	html {
		font-size: 58.5%;
	}
}

@media only screen and (max-width: 768px) {
	html {
		font-size: 54.5%;
	}
	.navbar {
		.container {
			.logo {
				margin-right: auto;
			}

			.nav-items {
				display: none;
			}

			.theme-btn {
				margin-right: 2rem;
			}

			.menu-btn {
				display: flex;
			}
		}
	}

	.contact {
		.container {
			.content {
				gap: 4rem;
				.form-container {
					flex: 1 1 40rem;
				}

				.contact-details {
					flex: 1 1 40rem;
				}
			}
		}
	}

	.section-title {
		margin-bottom: 2.5rem;
	}
}

@media only screen and (max-width: 700px) {
	.projects {
		.container {
			.content {
				.project {
					&__img {
						order: -1;
					}
				}
			}
		}
	}

	footer {
		.container {
			.upper {
				flex-direction: column;

				.nav-items {
					margin-bottom: 2rem;
				}
			}
		}
	}
}

@media only screen and (max-width: 576px) {
	html {
		font-size: 50%;
	}

	.section-title {
		margin-bottom: 2rem;
	}
}
