@mixin btnDefault {
	font-family: inherit;
	font-size: 1.6rem;
	line-height: 1.2;
	text-align: center;
	padding: 1.3rem 3.2rem;
	outline: none;
	box-shadow: 0 1rem 1rem -0.8rem #d5d5d5;
	transition: all 0.3s;
	cursor: pointer;
}

@mixin flexCenter {
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

@keyframes sdb05 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
